* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.title {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FF1493;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.button-row {
    margin: 10px 0;
}

.btn {
    width: 400px;
    height: 100px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #008080;
    color: white;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #FF69B4;
}

.footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #008080;
}
