main {
    padding: 40px;
}

.intro-container {
    display: flex;
    align-items: center;
    /* margin-left: 125px;
    margin-right: 100px; */
    margin-bottom: 100px;
}

.intro-text {
    margin-left: 50px;
}

.role-detail {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Source Sans 3', sans-serif;
    color: #54585a;
}

/* Categories Section */
.categories-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* position: absolute;
    left: 0;
    right: 0; */
    margin-left: calc(50% - 50vw);
    width: 100vw;
    padding: 40px;
    background-color: #f0f0f0;
}
.category {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Source Sans 3', sans-serif;
}
/* Sponsors Section */
.sponsors-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* position: absolute;
    left: 0;
    right: 0; */
    margin-left: calc(50% - 50vw);
    width: 100vw;
    padding: 40px;
    /* background-color: #f0f0f0; */
}
.sponsor {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    main {
        padding: 0px 0px;
    }
    body {
        padding: 0;
    }
    .intro-text {
        margin-left: 0px;
    }
    .intro-container {
        flex-direction: column;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 80px;
    }
    /* .role-detail {
        font-size: 16px;
    } */
    .header {
        font-size: 44px;
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .categories-section {
        grid-template-columns: 1fr;
    }
}
